
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
}
/* h1, h2, h3, h4, h5,h6 {
  font-family: 'Playfair Display', serif;
} */
header .active {
  color: #063B5A;
}
.snap {
 -ms-overflow-style: none;
    scrollbar-width: none;
}
.snap::-webkit-scrollbar {
display: none;
}
.btn-sd  {
  box-shadow: 0px 0px 8px #888888;
}
input, button {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #C4C4C41A; 
}
 
::-webkit-scrollbar-thumb {
  background: #1279E0; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1279E0; 
}
